.btn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
}

.btn:hover {
    background-color: teal;
    color: white;
    transition: 0.5s;
}